@model BasketVM

@{
    ViewData["Title"] = "Index";
}
@section CSS{
    <link rel="stylesheet" href="~/assets/css/basket.css" />
}
<section id="Basket">
    @await Html.PartialAsync("BasketTablePV",Model) 
</section>
@section Scripts{
    <script src="~/assets/js/basket.js"></script>
}