@model List<Product>


@section CSS{
    <link rel="stylesheet" href="~/assets/css/Index.css" />
}

<section id="Slider">
    <div class="slider-left">
        <div class="conteiner-btn">
            <div class="text"><span>Intro</span></div>
            <div class="ellipse">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"
                     fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
            </div>
            <div class="ellipse">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"
                     fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
            </div>
            <div class="ellipse">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"
                     fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
            </div>
        </div>
        <p>Stealth Vision for those who are into bird watching, hunting & astronomy.</p>
        <div class="slider-btn">
            <a>Learn more</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>

    <div class="slider-raght">
        <div class="slider-raght-1">
            <div class="slider-1-cart"></div>
            <div class="slider-2-cart">
                <span class="title">Highly Mobile</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="101" viewBox="0 0 100 101"
                     fill="none">
                    <path d="M37.8828 44.8027V58.0661H35.044V47.4645H34.9654L31.8906 49.3685V46.8816L35.2145 44.8027H37.8828Z"
                          fill="white" />
                    <path d="M41.0739 58.0661V56.0455L45.8531 51.674C46.2596 51.2855 46.6005 50.9357 46.8759 50.6249C47.1556 50.314 47.3676 50.0096 47.5118 49.7117C47.656 49.4095 47.7281 49.0835 47.7281 48.7338C47.7281 48.3452 47.6385 48.0106 47.4593 47.73C47.2802 47.445 47.0354 47.227 46.7251 47.0759C46.4148 46.9205 46.0629 46.8427 45.6696 46.8427C45.2587 46.8427 44.9003 46.9248 44.5944 47.0888C44.2885 47.2529 44.0524 47.4882 43.8864 47.7948C43.7203 48.1013 43.6372 48.4661 43.6372 48.8892H40.9427C40.9427 48.0214 41.1416 47.268 41.5393 46.629C41.9371 45.99 42.4943 45.4957 43.2111 45.146C43.9279 44.7963 44.7539 44.6214 45.6892 44.6214C46.6508 44.6214 47.4878 44.7898 48.2002 45.1265C48.917 45.459 49.4742 45.921 49.8719 46.5125C50.2697 47.104 50.4685 47.7818 50.4685 48.546C50.4685 49.0468 50.368 49.5412 50.167 50.0291C49.9703 50.5169 49.6184 51.0588 49.1114 51.6546C48.6045 52.2461 47.8899 52.9563 46.9677 53.7853L45.0074 55.6828V55.7735H50.6455V58.0661H41.0739Z"
                          fill="white" />
                    <path d="M57.9669 58.3575C56.8393 58.3532 55.869 58.079 55.056 57.535C54.2475 56.991 53.6247 56.2031 53.1876 55.1712C52.7549 54.1393 52.5407 52.898 52.5451 51.4474C52.5451 50.001 52.7615 48.7684 53.1942 47.7494C53.6312 46.7305 54.254 45.9555 55.0626 45.4244C55.8755 44.8891 56.8436 44.6214 57.9669 44.6214C59.0901 44.6214 60.056 44.8891 60.8646 45.4244C61.6775 45.9598 62.3025 46.737 62.7396 47.7559C63.1767 48.7705 63.393 50.001 63.3886 51.4474C63.3886 52.9024 63.1701 54.1458 62.7331 55.1777C62.3004 56.2096 61.6797 56.9975 60.8712 57.5415C60.0626 58.0855 59.0945 58.3575 57.9669 58.3575ZM57.9669 56.0325C58.7361 56.0325 59.3502 55.6504 59.8091 54.8862C60.268 54.1221 60.4953 52.9758 60.4909 51.4474C60.4909 50.4414 60.386 49.6038 60.1762 48.9346C59.9708 48.2654 59.678 47.7624 59.2977 47.4256C58.9219 47.0888 58.4782 46.9205 57.9669 46.9205C57.202 46.9205 56.5901 47.2982 56.1312 48.0538C55.6723 48.8094 55.4407 49.9406 55.4363 51.4474C55.4363 52.4663 55.539 53.3168 55.7444 53.999C55.9542 54.6769 56.2492 55.1863 56.6295 55.5274C57.0097 55.8642 57.4555 56.0325 57.9669 56.0325Z"
                          fill="white" />
                    <path d="M66.8813 47.8759C66.5168 47.8759 66.1851 47.7891 65.8861 47.6156C65.5872 47.4394 65.3485 47.2037 65.1702 46.9084C64.9945 46.6131 64.9067 46.2867 64.9067 45.9292C64.9067 45.5691 64.9945 45.2414 65.1702 44.9461C65.3485 44.6508 65.5872 44.4163 65.8861 44.2427C66.1851 44.0666 66.5168 43.9785 66.8813 43.9785C67.2458 43.9785 67.5763 44.0666 67.8726 44.2427C68.1715 44.4163 68.4089 44.6508 68.5846 44.9461C68.7629 45.2414 68.852 45.5691 68.852 45.9292C68.852 46.2867 68.7629 46.6131 68.5846 46.9084C68.4089 47.2037 68.1715 47.4394 67.8726 47.6156C67.5763 47.7891 67.2458 47.8759 66.8813 47.8759ZM66.8813 46.6636C67.0177 46.6636 67.1423 46.6312 67.255 46.5664C67.3678 46.4991 67.4569 46.4097 67.5225 46.2983C67.5907 46.1869 67.6248 46.0639 67.6248 45.9292C67.6248 45.7919 67.5907 45.6675 67.5225 45.5561C67.4569 45.4447 67.3678 45.3567 67.255 45.2919C67.1423 45.2245 67.0177 45.1909 66.8813 45.1909C66.7423 45.1909 66.6165 45.2245 66.5037 45.2919C66.3909 45.3567 66.3005 45.4447 66.2323 45.5561C66.1667 45.6675 66.1339 45.7906 66.1339 45.9253C66.1339 46.0626 66.1667 46.1882 66.2323 46.3022C66.3005 46.4136 66.3909 46.5017 66.5037 46.5664C66.6191 46.6312 66.745 46.6636 66.8813 46.6636Z"
                          fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M50 2.21484C22.3858 2.21486 0 24.3285 0 51.6071C0 78.8856 22.3858 100.999 50 100.999C77.6142 100.999 100 78.8856 100 51.6071H98C98 77.7581 76.5328 98.9993 50 98.9993C23.4672 98.9993 2 77.7581 2 51.6071C2 25.4561 23.4672 4.21486 50 4.21486V2.21484Z"
                          fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M86.5281 18.0494L86.3975 17.7417C86.4696 17.8173 86.5415 17.8932 86.6132 17.9693L86.5281 18.0494ZM89.1006 24.1112L88.1076 21.7713L88.3964 21.5391L89.1757 20.9125C89.9906 21.9261 90.766 22.972 91.4997 24.0479L90.6735 24.6113L89.8473 25.1747C89.6032 24.8167 89.3543 24.4621 89.1006 24.1112ZM97.2814 43.3877C97.2173 43.0256 97.149 42.6649 97.0766 42.3057L98.0569 42.1082L99.0372 41.9107C99.2926 43.1779 99.4988 44.4626 99.654 45.7628L98.661 45.8813L98.3551 45.9178L97.2814 43.3877ZM99.9641 49.7091L99.9407 49.6541L99.9619 49.6532C99.9627 49.6719 99.9634 49.6905 99.9641 49.7091ZM97.1517 38.3938L98.113 38.1181C97.7529 36.8624 97.3438 35.627 96.8879 34.4141L95.9518 34.766L95.0158 35.1179C95.453 36.2809 95.8452 37.4654 96.1904 38.6694L97.1517 38.3938ZM94.4643 31.2442L95.3692 30.8186C94.8142 29.6385 94.2133 28.4836 93.5689 27.3563L92.7007 27.8526L91.8325 28.3488C92.4507 29.4303 93.0271 30.538 93.5594 31.6699L94.4643 31.2442Z"
                          fill="white" />
                    <path d="M48.2695 1L50.5772 3.27964L48.2695 5.55928" stroke="white" stroke-width="2" />
                    <path d="M74.3846 13.9933C74.3846 17.6263 71.3999 20.5921 67.6923 20.5921C63.9847 20.5921 61 17.6263 61 13.9933C61 10.3604 63.9847 7.39453 67.6923 7.39453C71.3999 7.39453 74.3846 10.3604 74.3846 13.9933Z"
                          fill="url(#paint0_linear_4_38)" stroke="white" stroke-width="2" />
                    <defs>
                        <linearGradient id="paint0_linear_4_38" x1="60" y1="6.39453" x2="75.1965" y2="21.778"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5B5B5E" />
                            <stop offset="1" stop-color="#262628" />
                        </linearGradient>
                    </defs>
                </svg>
                <span class="description">Horizontal Rotation</span>
            </div>
        </div>
        <div class="slider-raght-2">
            <div class="slider-3-cart">
                <span class="title">Polarizing Filter</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"
                     fill="none">
                    <path d="M37.0563 56.7221C36.0544 56.7221 35.1631 56.5582 34.3824 56.2304C33.606 55.8982 32.9966 55.4459 32.5542 54.8733C32.1118 54.3008 31.8906 53.6517 31.8906 52.9262C31.8906 52.3668 32.0164 51.8532 32.268 51.3856C32.5239 50.9135 32.8708 50.5224 33.3089 50.212C33.747 49.8974 34.2371 49.6963 34.7792 49.6089V49.5171C34.0679 49.3729 33.4911 49.0254 33.0487 48.4747C32.6063 47.9196 32.3851 47.275 32.3851 46.5407C32.3851 45.8458 32.5868 45.2273 32.9901 44.6854C33.3935 44.1391 33.9465 43.7107 34.6491 43.4004C35.3561 43.0857 36.1585 42.9284 37.0563 42.9284C37.9541 42.9284 38.7543 43.0857 39.457 43.4004C40.164 43.7151 40.7191 44.1456 41.1225 44.6919C41.5259 45.2339 41.7297 45.8502 41.734 46.5407C41.7297 47.2794 41.5042 47.924 41.0574 48.4747C40.6107 49.0254 40.0382 49.3729 39.3399 49.5171V49.6089C39.8734 49.6963 40.357 49.8974 40.7907 50.212C41.2288 50.5224 41.5757 50.9135 41.8316 51.3856C42.0919 51.8532 42.2242 52.3668 42.2285 52.9262C42.2242 53.6517 42.0008 54.3008 41.5584 54.8733C41.116 55.4459 40.5044 55.8982 39.7237 56.2304C38.9474 56.5582 38.0582 56.7221 37.0563 56.7221ZM37.0563 54.6373C37.503 54.6373 37.8934 54.5564 38.2274 54.3947C38.5613 54.2287 38.8216 54.0014 39.0081 53.7129C39.1989 53.4201 39.2943 53.0835 39.2943 52.7033C39.2943 52.3143 39.1967 51.9712 39.0016 51.674C38.8064 51.3724 38.5418 51.1364 38.2079 50.966C37.8739 50.7912 37.49 50.7037 37.0563 50.7037C36.6269 50.7037 36.2431 50.7912 35.9048 50.966C35.5665 51.1364 35.2997 51.3724 35.1045 51.674C34.9137 51.9712 34.8183 52.3143 34.8183 52.7033C34.8183 53.0835 34.9115 53.4201 35.098 53.7129C35.2845 54.0014 35.5469 54.2287 35.8852 54.3947C36.2236 54.5564 36.6139 54.6373 37.0563 54.6373ZM37.0563 48.6386C37.4293 48.6386 37.7611 48.5621 38.0517 48.4092C38.3423 48.2562 38.57 48.0442 38.7348 47.7732C38.8996 47.5023 38.9821 47.1898 38.9821 46.8357C38.9821 46.4861 38.8996 46.1801 38.7348 45.9179C38.57 45.6513 38.3445 45.4437 38.0582 45.2951C37.772 45.1421 37.438 45.0656 37.0563 45.0656C36.679 45.0656 36.345 45.1421 36.0544 45.2951C35.7638 45.4437 35.5361 45.6513 35.3713 45.9179C35.2108 46.1801 35.1306 46.4861 35.1306 46.8357C35.1306 47.1898 35.213 47.5023 35.3778 47.7732C35.5426 48.0442 35.7703 48.2562 36.0609 48.4092C36.3515 48.5621 36.6833 48.6386 37.0563 48.6386Z"
                          fill="white" />
                    <path d="M44.7251 56.5385L50.2486 45.5245V45.4328H43.8143V43.112H53.1633V45.4655L47.6333 56.5385H44.7251Z"
                          fill="white" />
                    <path d="M62.387 54.021V53.313C62.387 52.7754 62.4998 52.2815 62.7253 51.8314C62.9552 51.3768 63.287 51.0141 63.7207 50.7431C64.1588 50.4677 64.6923 50.3301 65.3212 50.3301C65.9588 50.3301 66.4944 50.4655 66.9281 50.7365C67.3662 51.0075 67.6958 51.3703 67.917 51.8248C68.1426 52.275 68.2553 52.771 68.2553 53.313V54.021C68.2553 54.5586 68.1426 55.0547 67.917 55.5092C67.6915 55.9594 67.3597 56.32 66.9216 56.591C66.4836 56.8663 65.9501 57.004 65.3212 57.004C64.6836 57.004 64.148 56.8663 63.7142 56.591C63.2805 56.32 62.9509 55.9594 62.7253 55.5092C62.4998 55.0547 62.387 54.5586 62.387 54.021ZM64.2802 53.313V54.021C64.2802 54.3314 64.354 54.6242 64.5014 54.8995C64.6532 55.1749 64.9265 55.3126 65.3212 55.3126C65.7159 55.3126 65.9848 55.1771 66.1279 54.9061C66.2754 54.6351 66.3491 54.3401 66.3491 54.021V53.313C66.3491 52.9939 66.2797 52.6967 66.1409 52.4214C66.0021 52.146 65.7289 52.0084 65.3212 52.0084C64.9308 52.0084 64.6598 52.146 64.5079 52.4214C64.3561 52.6967 64.2802 52.9939 64.2802 53.313ZM55.5493 46.3375V45.6294C55.5493 45.0875 55.6643 44.5914 55.8941 44.1412C56.124 43.6867 56.4558 43.3239 56.8895 43.053C57.3276 42.782 57.8568 42.6465 58.477 42.6465C59.1189 42.6465 59.6567 42.782 60.0904 43.053C60.5242 43.3239 60.8538 43.6867 61.0793 44.1412C61.3049 44.5914 61.4176 45.0875 61.4176 45.6294V46.3375C61.4176 46.8794 61.3027 47.3755 61.0728 47.8257C60.8473 48.2759 60.5155 48.6364 60.0774 48.9074C59.6437 49.174 59.1102 49.3073 58.477 49.3073C57.8437 49.3073 57.3081 49.1718 56.87 48.9009C56.4363 48.6255 56.1067 48.2649 55.8811 47.8191C55.6599 47.3689 55.5493 46.8751 55.5493 46.3375ZM57.4556 45.6294V46.3375C57.4556 46.6565 57.5293 46.9516 57.6768 47.2225C57.8286 47.4935 58.0953 47.629 58.477 47.629C58.876 47.629 59.1471 47.4935 59.2902 47.2225C59.4377 46.9516 59.5114 46.6565 59.5114 46.3375V45.6294C59.5114 45.3104 59.442 45.0132 59.3032 44.7378C59.1644 44.4625 58.889 44.3248 58.477 44.3248C58.091 44.3248 57.8242 44.4647 57.6768 44.7444C57.5293 45.0241 57.4556 45.3191 57.4556 45.6294ZM56.4081 56.5385L65.5684 43.112H67.273L58.1126 56.5385H56.4081Z"
                          fill="white" />
                    <rect x="48.8545" width="1.52672" height="15.3846" fill="white" />
                    <rect x="48.8545" y="84.6152" width="1.52672" height="15.3846" fill="white" />
                    <rect y="50.7695" width="1.53846" height="15.2672" transform="rotate(-90 0 50.7695)"
                          fill="white" />
                    <rect x="83.9697" y="50.7695" width="1.53846" height="15.2672"
                          transform="rotate(-90 83.9697 50.7695)" fill="white" />
                    <rect width="1.5326" height="15.326"
                          transform="matrix(0.704392 -0.709811 0.704392 0.709811 13.9932 15.1895)" fill="white" />
                    <rect width="1.5326" height="15.326"
                          transform="matrix(0.704392 -0.709811 0.704392 0.709811 73.3682 75.0215)" fill="white" />
                    <rect width="1.5326" height="15.326"
                          transform="matrix(-0.704392 -0.709811 -0.704392 0.709811 85.2441 15.1895)"
                          fill="white" />
                    <rect width="1.5326" height="15.326"
                          transform="matrix(-0.704392 -0.709811 -0.704392 0.709811 25.8691 75.0215)"
                          fill="white" />
                </svg>
                <span class="description">Scatter of Direct Rays</span>
            </div>
            <div class="slider-4-cart">
                <span class="title">Magnifier</span>

                <div>
                    <svg class="crl" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                         viewBox="0 0 32 32" fill="none">
                        <path d="M16 31.5C24.5604 31.5 31.5 24.5604 31.5 16C31.5 7.43959 24.5604 0.5 16 0.5C7.43959 0.5 0.5 7.43959 0.5 16C0.5 24.5604 7.43959 31.5 16 31.5Z"
                              stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <svg class="src" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none">
                        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21.5005 21.5005L16.6504 16.6504" stroke="white" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>

                <span class="description">Micro3X</span>
            </div>
            <div class="slider-5-cart"></div>
        </div>
    </div>

</section>

<section id="Products">
    <div class="featured-product-head">
        <h2>Featured products</h2>
        <div>
            <a asp-action="index" asp-controller="Shop">View All products</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>

    <div class="featured-products">

        @for (int i = 0; i < 4 && i < Model.Count; i++)
        {
            <div class="product-card">
                <div class="img">
                    <a>
                        <img width="280" height="320" class="cart-img" src="~/assets/img/products/@Model[i].Image">
                    </a>
                    <a data-id="@Model[i].Id" class="basket-btn">
                        <img class="cart-icon" src="./assets/img/shopping-bag.svg">
                    </a>
                </div>
                <div class="content">
                    <h3 class="title">@Model[i].Title</h3>
                    <p class="price">@Model[i].Price$</p>
                </div>
                <div>
                    <img class="star" src="./assets/img/Star 1.svg">
                    <img class="star" src="./assets/img/Star 1.svg">
                    <img class="star" src="./assets/img/Star 1.svg">
                    <img class="star" src="./assets/img/Star 1.svg">
                    <img class="star" src="./assets/img/Star 1.svg">
                </div>
            </div>
        }



    </div>
    <div class="stealth-vision-head">
        <h2>Featured products</h2>
        <div>
            <a>View All products</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="visions">
        <div class="vision">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <circle cx="24" cy="24" r="23" fill="url(#paint0_radial_4_180)" stroke="#232521"
                            stroke-width="2" />
                    <path d="M24 30C27.3137 30 30 27.3137 30 24C30 20.6863 27.3137 18 24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30Z"
                          fill="#70FF00" />
                    <defs>
                        <radialGradient id="paint0_radial_4_180" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(24 24) rotate(90) scale(24)">
                            <stop offset="0.588543" stop-color="#ECF6F6" stop-opacity="0" />
                            <stop offset="1" stop-color="#9BDBDB" />
                        </radialGradient>
                    </defs>
                </svg>
            </div>
            <div>

            </div>
        </div>
        <div class="vision">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path d="M30 52C42.1503 52 52 42.1503 52 30C52 17.8497 42.1503 8 30 8C17.8497 8 8 17.8497 8 30C8 42.1503 17.8497 52 30 52Z"
                          fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M30 4V12" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M30 48V56" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M4 30H12" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M48 30H56" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M30 36C33.3137 36 36 33.3137 36 30C36 26.6863 33.3137 24 30 24C26.6863 24 24 26.6863 24 30C24 33.3137 26.6863 36 30 36Z"
                          fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
            <div>

            </div>
        </div>
        <div class="vision">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path d="M47.5 10H12.5C9.73858 10 7.5 12.2386 7.5 15V50C7.5 52.7614 9.73858 55 12.5 55H47.5C50.2614 55 52.5 52.7614 52.5 50V15C52.5 12.2386 50.2614 10 47.5 10Z"
                          fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M25.364 44.834V41.783H20V39.578L24.851 32.234H27.56V39.587H28.622V41.783H27.56V44.834H25.364ZM22.547 39.578L25.364 39.587L25.355 35.231L22.547 39.578Z"
                          fill="#232521" />
                    <path d="M34.6039 45.068C33.8719 45.068 33.2059 44.9 32.6059 44.564C32.0059 44.222 31.4869 43.751 31.0489 43.151C30.6169 42.551 30.2839 41.858 30.0499 41.072C29.8159 40.28 29.6989 39.434 29.6989 38.534C29.6989 37.634 29.8159 36.791 30.0499 36.005C30.2839 35.213 30.6169 34.517 31.0489 33.917C31.4869 33.317 32.0059 32.849 32.6059 32.513C33.2059 32.171 33.8719 32 34.6039 32C35.3359 32 36.0019 32.171 36.6019 32.513C37.2019 32.849 37.7149 33.317 38.1409 33.917C38.5729 34.517 38.9059 35.213 39.1399 36.005C39.3799 36.791 39.4999 37.634 39.4999 38.534C39.4999 39.434 39.3799 40.28 39.1399 41.072C38.9059 41.858 38.5729 42.551 38.1409 43.151C37.7149 43.751 37.2019 44.222 36.6019 44.564C36.0019 44.9 35.3359 45.068 34.6039 45.068ZM34.6039 42.872C35.2459 42.872 35.7769 42.668 36.1969 42.26C36.6169 41.852 36.9289 41.318 37.1329 40.658C37.3369 39.998 37.4389 39.29 37.4389 38.534C37.4389 37.736 37.3309 37.01 37.1149 36.356C36.8989 35.696 36.5809 35.171 36.1609 34.781C35.7409 34.391 35.2219 34.196 34.6039 34.196C34.1179 34.196 33.6949 34.316 33.3349 34.556C32.9809 34.79 32.6869 35.111 32.4529 35.519C32.2189 35.927 32.0449 36.392 31.9309 36.914C31.8169 37.43 31.7599 37.97 31.7599 38.534C31.7599 39.284 31.8619 39.992 32.0659 40.658C32.2759 41.318 32.5909 41.852 33.0109 42.26C33.4369 42.668 33.9679 42.872 34.6039 42.872Z"
                          fill="#232521" />
                    <path d="M40 5V15" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M20 5V15" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M7.5 25H52.5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
            <div>

            </div>
        </div>
        <div class="vision">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path d="M52.5 40.0007V20.0007C52.4991 19.1239 52.2676 18.2628 51.8288 17.5036C51.39 16.7445 50.7593 16.1141 50 15.6757L32.5 5.67573C31.7399 5.23689 30.8777 5.00586 30 5.00586C29.1223 5.00586 28.2601 5.23689 27.5 5.67573L10 15.6757C9.24066 16.1141 8.60995 16.7445 8.17115 17.5036C7.73236 18.2628 7.5009 19.1239 7.5 20.0007V40.0007C7.5009 40.8775 7.73236 41.7387 8.17115 42.4978C8.60995 43.2569 9.24066 43.8873 10 44.3257L27.5 54.3257C28.2601 54.7646 29.1223 54.9956 30 54.9956C30.8777 54.9956 31.7399 54.7646 32.5 54.3257L50 44.3257C50.7593 43.8873 51.39 43.2569 51.8288 42.4978C52.2676 41.7387 52.4991 40.8775 52.5 40.0007Z"
                          fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M8.1748 17.4004L29.9998 30.0254L51.8248 17.4004" stroke="#232521" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30 55.2V30" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
            <div>

            </div>
        </div>
    </div>

</section>

<section id="Transparency">
    <div class="left">
        <h3 class="title">Transparency</h3>
        <p class="description">
            The best in high-quality production & the most advanced technology products ever!
        </p>
        <ul>
            <li>
                <div class="active">
                    <span>01.</span><span>Scope</span>
                    <button>Buy Now</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path d="M12 5L19 12L12 19" fill="white" />
                    </svg>
                </div>
            </li>
            <li>
                <div>
                    <span>02.</span><span>Scope + Refle</span>
                    <button>Buy Now</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path d="M12 5L19 12L12 19" fill="white" />
                    </svg>
                </div>
            </li>
            <li>
                <div>
                    <span>03.</span><span>Binocule</span>
                    <button>Buy Now</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path d="M12 5L19 12L12 19" fill="white" />
                    </svg>
                </div>
            </li>
            <li>
                <div>
                    <span>04.</span><span>Something Else</span>
                    <button>Buy Now</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none">
                        <path d="M12 5L19 12L12 19" fill="white" />
                    </svg>
                </div>
            </li>
        </ul>
        <div>
            <a>View All products</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="raght">
        <img src="./assets/img/Rectangle 40.jpg">
    </div>
</section>

<section id="Talk-of-the-explores">
    <div class="talk-of-the-explores-head">
        <h2>Talk of the explores</h2>
        <div>
            <a>View All products</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="filter">
        <h3>Filter by product</h3>
        <ul>
            <li class="active">All</li>
            <li>Scope</li>
            <li>Rifle-Scope</li>
            <li>Binocular</li>
        </ul>
    </div>
    <div class="reyting-continer">
        <div class="reyting-all">
            <h5>Rating based on 5.050 reviews</h5>
            <p>4.5</p>
            <a>
                Write a Review
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M12.5 20H21.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M17 3.49998C17.3978 3.10216 17.9374 2.87866 18.5 2.87866C18.7786 2.87866 19.0544 2.93353 19.3118 3.04014C19.5692 3.14674 19.803 3.303 20 3.49998C20.197 3.69697 20.3532 3.93082 20.4598 4.18819C20.5665 4.44556 20.6213 4.72141 20.6213 4.99998C20.6213 5.27856 20.5665 5.55441 20.4598 5.81178C20.3532 6.06915 20.197 6.303 20 6.49998L7.5 19L3.5 20L4.5 16L17 3.49998Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

        <div class="commets">
            <ul>

                <li class="comment">
                    <div class="product">
                        <div class="stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                        </div>
                        <span class="title">
                            Scope
                            Rohan W.
                        </span>
                        <span class="date">10/02/22</span>
                    </div>

                    <div class="content">
                        Superb, nice and quick makes me look forward to my work so happy.
                    </div>
                </li>
                <li class="comment">
                    <div class="product">
                        <div class="stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                        </div>
                        <span class="title">
                            Scope
                            Rohan W.
                        </span>
                        <span class="date">10/02/22</span>
                    </div>

                    <div class="content">
                        Superb, nice and quick makes me look forward to my work so happy.
                    </div>
                </li>
                <li class="comment">
                    <div class="product">
                        <div class="stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="black" />
                            </svg>
                        </div>
                        <span class="title">
                            Scope
                            Rohan W.
                        </span>
                        <span class="date">10/02/22</span>
                    </div>

                    <div class="content">
                        Superb, nice and quick makes me look forward to my work so happy.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="Questions">
    <div class="questions-head">
        <h2>Frequently asked questions</h2>
        <div>
            <a>Read All FAQ's</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>

    <div class="questions">
        <div class="question-answare">
            <div class="question">
                <span>
                    <strong>01.</strong> Lorem ipsum dolor sit amet
                    consectetur adipisicing ?
                </span>
                <div data-id="1">
                    <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <svg class="plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div class="answare" data-id="1">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Qui odio soluta inventore dolorum modi voluptas
                    dignissimos perferendis
                    similique magnam atque
                    rem, odit quisquam aliquam iste iure libero
                    vel deserunt quod.
                </p>
            </div>
        </div>
        <div class="question-answare">

            <div class="question">
                <span>
                    <strong>02.</strong> Lorem ipsum dolor sit amet
                    consectetur adipisicing ?
                </span>
                <div data-id="2">
                    <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <svg class="plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5 12H19" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div class="answare" data-id="2">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Qui odio soluta inventore dolorum modi voluptas
                    dignissimos perferendis
                    similique magnam atque
                    rem, odit quisquam aliquam iste iure libero
                    vel deserunt quod.
                </p>
            </div>
        </div>

    </div>

</section>
<section id="Safe">

    <h3>Safe, certified & trusted.</h3>

    <div class="continer">
        <div class="icon-descript">
            <div>
                <svg class="main" xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52"
                     fill="none">
                    <path d="M21.002 51C21.002 51 41.002 41 41.002 26V8.5L21.002 1L1.00195 8.5V26C1.00195 41 21.002 51 21.002 51Z"
                          fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none">
                    <path d="M20.002 6L9.00195 17L4.00195 12" stroke="#232521" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <p>
                Safe, secure, quick, and verified payment channels
            </p>
        </div>

        <div class="icon-descript">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52" fill="none">
                <path d="M21.002 51C21.002 51 41.002 41 41.002 26V8.5L21.002 1L1.00195 8.5V26C1.00195 41 21.002 51 21.002 51Z"
                      fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <p>
                Safe, secure, quick, and verified payment channels
            </p>
        </div>

        <div class="icon-descript">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52" fill="none">
                <path d="M21.002 51C21.002 51 41.002 41 41.002 26V8.5L21.002 1L1.00195 8.5V26C1.00195 41 21.002 51 21.002 51Z"
                      fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <p>
                Safe, secure, quick, and verified payment channels
            </p>
        </div>

        <div class="icon-descript">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52" fill="none">
                <path d="M21.002 51C21.002 51 41.002 41 41.002 26V8.5L21.002 1L1.00195 8.5V26C1.00195 41 21.002 51 21.002 51Z"
                      fill="#ECF5F5" stroke="#232521" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <p>
                Safe, secure, quick, and verified payment channels
            </p>
        </div>

    </div>

</section>

@section scripts {
    <script src="~/assets/js/index.js"></script>
}