
@{
    ViewData["Title"] = "Index";
}

@section CSS{
    <link rel="stylesheet" href="~/assets/css/about.css" />
}

<section id="Slider">
    <h5>John</h5>
    <img src="~/assets/img/Rectangle 38.jpg">
    <h5>McCall</h5>
</section>

<section id="About">
    <div>
        <h3>The mind behind the products at Stealth Vision.</h3>
        <h4>Graduated in 1977</h4>
        <p>University of Houston College of Optometry</p>
        <h4>40+</h4>
        <p>Years of medical eye practice</p>
        <h4>Ex. VP & Co-Founder</h4>
        <p>Vendor Relations at Vision Source</p>
    </div>
    <div>
        <ul>
            <li>He is a past president of the Texas and American Optometric Associations and co-founder and Vice President of Vendor Relations at Vision Source. Dr. McCall treats patients at his eye clinic in Crockett, Texas, and performs laser surgical procedures at his surgery center in Louisiana.</li>
            <li>Having participated in more than 30 worldwide safaris, Dr. McCall is an experienced big game hunter, which inspired him to study long range shooting. He discovered that other scopes do not address all the issues of making a precision long range shot.</li>
            <li>He embarked on a new adventure: incorporating his patent-pending anti-cant green light technology into the revolutionary scope of Stealth Vision®.</li>
            <li>Empowered by his medical expertise, Dr. McCall approached constructing a scope by factoring in his knowledge about the functions of the eye and the laws of optics.</li>
            <li>According to Listing’s Law, the eye performs with peak accuracy only when it is upright and gazing straight ahead. When you shoot a rifle, you must tilt your head against the stock to see through the scope. Your eye will cyclo-rotate to attempt to remain vertical, but it is not possible for it to match the degree of head tilt. However, due to proprioception, the brain will incorrectly tell you that what you’re seeing is vertical.</li>
            <li>Empowered by his medical expertise, Dr. McCall approached constructing a scope by factoring in his knowledge about the functions of the eye and the laws of optics.</li>
        </ul>
    </div>
</section>

